MONGODB_URI=mongodb://127.0.0.1:27017/blackjack
BASE_PATH=http://localhost:3000

NEXT_PUBLIC_SOCKET_URL=http://localhost:3001
NEXT_PUBLIC_BASE_URL=http://localhost:3000

SOCKET_PORT=3001
SOCKET_USE_HTTPS=false
SOCKET_HTTPS_KEY_PATH=
SOCKET_HTTPS_CERT_PATH=

DECKS_IN_SHOE=6