@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
}
html,body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    align-items: center;
    background-color: peachpuff;
}
.header>div{
    margin: 5px;
    border: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
    background-color: lightsalmon;
    user-select: none;
    border-radius: 5px;
}
.header>div:hover{
    background-color: peachpuff;
    transition: all 0.3s;
}
.table{
    color: white;
    width: 100%;
    height: 100%;
    background-image: url("../components/blackjack/images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.dealer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    width: 100%;
}
.dealer>div:nth-child(2n+1){
    margin-left: 150px;
    transform: rotate(-20deg);
    width: 330px;
    height: 330px;
}
.dealer>div:nth-child(2){
    text-align: center;
}
.players{
    display: flex;
    width: 100%;
    height: 55%;
}
.players>div{
    width: 100%;
    height: 100%;
    text-align: center;
}
.players>div:nth-child(4n+1){
    margin-top: 1%;
}
.players>div:nth-child(2n+2){
    margin-top: 6%;
}
.players>div:nth-child(3){
    margin-top: 11%;
}
.card{
    width: 37.79mm;
    height: 59.92mm;
    border: 1px solid black;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
}
.deck{
    background-image: url("../components/blackjack/images/dealer_shoe.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.footer{
    text-align: center;
    background-color: gold;
    border: 3px dotted black;
    margin: 0 auto;
    width: 100%;
    height: 10%;
    
}